/*--------------------------------------------------------  General */

body {
    background-color: #eeeeee;
}

.inline-block {
    display: inline-block;
}

.flex-container {
    display: flex;
}

div.inline { 
    float:left;
}

.clearBoth {
    clear:both;
}

/*--------------------------------------------------------  Header and Logo  */

.logo {
    min-height: 3em;;
}

.menu {
    background-color: #eeeeee;

}


/*--------------------------------------------------------  Mobile Header and Logo  */


.nav-mobile {
    background-color: #6FA8DC;
}

/*--------------------------------------------------------  Game  */

#sColor {
    height: 20em;
    width: 100%;
}


.play {
        background-color: #eeeeee;
}

.score {
    min-height: 4em;
}

/*--------------------------------------------------------  Footer  */

.footer {
    background-color: #6FA8DC;
    min-height: 10em;
}

/*--------------------------------------------------------  Test  */

