/*--------------------------------------------------------  General */

.body {
    background-color: #eeeeee;
}


.inline-block {
    display: inline-block;
}

.flex-container {
    display: flex;
}

div.inline { 
    float:left;
}

.clearBoth {
    clear:both;
}

/*--------------------------------------------------------  Header and Logo  */

.menu {
    background-color: #eeeeee;

}


/*--------------------------------------------------------  Mobile Header and Logo  */


.nav-mobile {
    background-color: #6FA8DC;
}

/*--------------------------------------------------------  Game  */

.play {
        background-color: #eeeeee;
}

/*--------------------------------------------------------  Footer  */

.footer {
    background-color: #6FA8DC;
}

/*--------------------------------------------------------  Test  */

